# {{ project_name }}

{{ project_description }}

{% if project_tags %}
## Теги

{{ project_tags }}
{% endif %}

{% if organization %}
## Организация

{{ organization }}
{% endif %}

{% if contact and (contact.email or contact.telegram_id) %}
## Контакты

{% if contact.email %}
- Email: {{ contact.email }}
{% endif %}
{% if contact.telegram_id %}
- Telegram: {{ contact.telegram_id }}
{% endif %}
{% endif %}

## License

MIT License

Copyright (c) {{ copyright_year }} {{ author.name if author and author.name else author_name }}
