# {{ project_name }}

{{ project_description }}

{% if project_tags %}
## Теги

{{ project_tags }}
{% endif %}

{% if organization %}
## Организация

{{ organization }}
{% endif %}

{% if contact_email or contact_telegram_id %}
## Контакты

{% if contact_email %}
- Email: {{ contact_email }}
{% endif %}
{% if contact_telegram_id %}
- Telegram: {{ contact_telegram_id }}
{% endif %}
{% endif %}

## License

MIT License

Copyright (c) {{ copyright_year }} {{ author_name_from_profile if author_name_from_profile else author_name }}
